GARMIN_EMAIL=
GARMIN_PASSWORD=

GARMIN_FIT_S3_BUCKET=
GARMIN_FIT_S3_PREFIX=garmin/fit
AWS_REGION=eu-central-1
AWS_PROFILE=

DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_HTTP_PATH=

DATABRICKS_CATALOG=running_signals
DATABRICKS_BRONZE_SCHEMA=bronze
DATABRICKS_SILVER_SCHEMA=silver
DATABRICKS_GOLD_SCHEMA=gold
