GARMIN_EMAIL=
GARMIN_PASSWORD=

GARMIN_FIT_S3_BUCKET=
GARMIN_FIT_S3_PREFIX=garmin/fit
GARMIN_HEALTH_S3_BUCKET=
GARMIN_HEALTH_S3_PREFIX=garmin/health/daily
AWS_REGION=eu-central-1
AWS_PROFILE=

# https://dbc-<YOUR_HOST_ID>.cloud.databricks.com/settings/user/developer/access-tokens
DATABRICKS_HOST=dbc-<YOUR_HOST_ID>.cloud.databricks.com
DATABRICKS_TOKEN=dapi<YOUR_TOKEN>
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/<YOUR_WAREHOUSE_ID>

DATABRICKS_CATALOG=running_signals
DATABRICKS_BRONZE_SCHEMA=bronze
DATABRICKS_SILVER_SCHEMA=silver
DATABRICKS_GOLD_SCHEMA=gold
